DATABASE_URL=
POSTGRES_PASSWORD=

EARTHDATA_USERNAME=
EARTHDATA_PASSWORD=

# create credentials for earthdata login and postgresql database connection and add them to the .env file. Do not change the variable names.